@model List<Category>;
@{ViewBag.Title = "AdminIndex";
}

<div class="container">
    <a asp-controller="admin" asp-action="CreateCategory" class="btn btn-primary m-1">Create Category</a>
    <div>
        <h2>Categories:</h2>
    </div>
    <div class="col-sm-9 padding-right">
        <div class="features_items">

            @foreach (var category in Model)
            {
                var photopath = "~/Images/" + (category.Photopath ?? "noimage.jpg");

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <div class="card-header">
                                    @category.CategoryName
                                </div>
                                <a asp-controller="Admin" asp-action="CategoryItemsAdmin" asp-route-id="@category.ID"><img src="@photopath" asp-append-version="true" /></a>
                                <div class="card-footer text-center">
                                    @*<a asp-controller="home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary m-1">view</a>*@
                                    <a asp-controller="admin" asp-action="EditCategory" asp-route-id="@category.ID" class="btn btn-primary m-1">Edit</a>
                                    <a asp-controller="Admin" asp-action="Deletecat" asp-route-id="@category.ID" class="btn btn-danger m-1">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
